flows.json
[{"id":"9e5ae162.c4c76","type":"tab","label":"Config","disabled":false,"info":""},{"id":"bd57f80.9467908","type":"tab","label":"Payment - Convert Requests","disabled":false,"info":""},{"id":"313082be.53a22e","type":"tab","label":"Payment - Convert Responses","disabled":false,"info":""},{"id":"426026c8.1cb008","type":"tab","label":"Payment - Set inbetween","disabled":false,"info":""},{"id":"41663d5f.162894","type":"tab","label":"Payment - Cleanup","disabled":false,"info":""},{"id":"e9ce5bd0.41ebd8","type":"ui_group","name":"Payments","tab":"","disp":true,"width":"6","collapse":false},{"id":"c29875cb.a33278","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"49da6600.5d71bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Payments","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31f33edf.07c482","type":"ui_group","name":"Payments Configuration","tab":"c29875cb.a33278","order":1,"disp":true,"width":"6","collapse":false},{"id":"10ca08a9.9604b7","type":"inject","z":"bd57f80.9467908","name":"FS-JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"method\":\"post\",\"url\":\"https://prod.api.firstdata.com/ipp/payments-gateway/v2/payments\",\"headers\":{\"Content-Type\":\"application/json\",\"Client-Request-Id\":\"\",\"Api-Key\":\"\",\"Timestamp\":\"\",\"Message-Signature\":\"\"},\"body\":{\"requestType\":\"PaymentCardSaleTransaction\",\"transactionAmount\":{\"total\":\"12.04\",\"currency\":\"USD\"},\"paymentMethod\":{\"paymentCard\":{\"number\":\"5424180279791732\",\"securityCode\":\"977\",\"expiryDate\":{\"month\":\"12\",\"year\":\"24\"}},\"billing\":{\"name\":\"Alec Leamas\",\"customerId\":\"1234567890\",\"contact\":{\"phone\":\"07777777777\",\"email\":\"alecleamas@tswciftc.com\"},\"address\":{\"address1\":\"Bernauer Strasse 111\",\"city\":\"Berlin\",\"postalCode\":\"13355\",\"country\":\"Germany\"}}}}}","payloadType":"json","x":100,"y":80,"wires":[["32203ad9.08fd96"]]},{"id":"bfc18f62.25c5a","type":"inject","z":"bd57f80.9467908","name":"TS-JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"method\":\"post\",\"url\":\"https://prod.api.tsys.com/payments\",\"headers\":{\"Content-Type\":\"application/json\",\"Client-Request\":\"\",\"ApiKey\":\"\",\"Timestamp\":\"\"},\"body\":{\"request\":\"PaymentCardSale\",\"txnAmount\":{\"amount\":\"12.04\",\"currency\":\"USD\"},\"paymentMethod\":{\"paymentCard\":{\"number\":\"5424180279791732\",\"securityCode\":\"977\",\"expiration\":{\"month\":\"12\",\"year\":\"24\"}},\"billingInfo\":{\"name\":\"Alec Leamas\",\"customerId\":\"1234567890\",\"contact\":{\"phone\":\"07777777777\",\"email\":\"alecleamas@tswciftc.com\"},\"address\":{\"address1\":\"Bernauer Strasse 111\",\"address2\":\"\",\"city\":\"Berlin\",\"postalCode\":\"13355\",\"country\":\"Germany\"}}}}}","payloadType":"json","x":100,"y":200,"wires":[["2f244c82.b1e434"]]},{"id":"32203ad9.08fd96","type":"file","z":"bd57f80.9467908","name":"","filename":"/data/fs-req.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":420,"y":80,"wires":[["4113aef6.616a7"]]},{"id":"2f244c82.b1e434","type":"file","z":"bd57f80.9467908","name":"","filename":"/data/ts-req.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":460,"y":200,"wires":[["4113aef6.616a7"]]},{"id":"4113aef6.616a7","type":"debug","z":"bd57f80.9467908","name":"debug01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":120,"wires":[]},{"id":"b702235.e7786e","type":"inject","z":"bd57f80.9467908","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["e4fc412f.62791","aca8aad1.670098"]]},{"id":"e4fc412f.62791","type":"function","z":"bd57f80.9467908","name":"function - diff reqs","func":"let datats, datafs, datadiff = {}\nlet ts = global.get(\"ts\");\nif (ts == undefined) ts = false\n\nconst {readFile} = global.get('fs')\nreadFile('/data/ts-req.json')\n    .then((contents) => {\n        // console.log(contents.toString())\n        datats = JSON.parse(contents.toString())\n        return readFile('/data/fs-req.json')\n    })\n    .then((contents) => {\n        // console.log(contents.toString())\n        datafs = JSON.parse(contents.toString());\n    })\n    .then (() => {\n        if (ts) datadiff = diff(datats, datafs);\n        else diff(datafs, datats);\n        // return datadiff;\n        console.log(datadiff)\n        msg.payload = datadiff;\n        node.send(msg,false);\n        node.done();\n        return;\n    })\n    // .then (console.log(datadiff))\n    .catch(console.error)\n\nfunction diff(obj1, obj2) {\n    const result = {};\n    if (Object.is(obj1, obj2)) {\n        console.log('same object')\n        return undefined;\n    }\n    if (!obj2 || typeof obj2 !== 'object') {\n        return obj2;\n    }\n    Object.keys(obj1 || {}).concat(Object.keys(obj2 || {})).forEach(key => {\n        if(obj2[key] !== obj1[key] && !Object.is(obj1[key], obj2[key])) {\n            result[key] = obj2[key];\n        }\n        if(typeof obj2[key] === 'object' && typeof obj1[key] === 'object') {\n            const value = diff(obj1[key], obj2[key]);\n            if (value !== undefined) {\n                result[key] = value;\n            }\n        }\n    });\n    // console.log(result);\n    return result;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["297c7839.51ae78"]]},{"id":"52dd9fe0.a245d","type":"debug","z":"bd57f80.9467908","name":"debug02","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"94991f49.9702","type":"comment","z":"bd57f80.9467908","name":"(1) Read the JSONS and store","info":"","x":170,"y":40,"wires":[]},{"id":"36446428.55709c","type":"comment","z":"bd57f80.9467908","name":"(2) Set a new JSON with differences","info":"","x":190,"y":240,"wires":[]},{"id":"49876fad.61a2","type":"inject","z":"313082be.53a22e","name":"FS-JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"method\":\"post\",\"url\":\"https://prod.api.firstdata.com/ipp/payments-gateway/v2/payments\",\"headers\":{\"Content-Type\":\"application/json\",\"Client-Request-Id\":\"\",\"Api-Key\":\"\",\"Timestamp\":\"\",\"Message-Signature\":\"\"},\"body\":{\"requestType\":\"PaymentCardSaleTransaction\",\"transactionAmount\":{\"total\":\"12.04\",\"currency\":\"USD\"},\"paymentMethod\":{\"paymentCard\":{\"number\":\"5424180279791732\",\"securityCode\":\"977\",\"expiryDate\":{\"month\":\"12\",\"year\":\"24\"}},\"billing\":{\"name\":\"Alec Leamas\",\"customerId\":\"1234567890\",\"contact\":{\"phone\":\"07777777777\",\"email\":\"alecleamas@tswciftc.com\"},\"address\":{\"address1\":\"Bernauer Strasse 111\",\"city\":\"Berlin\",\"postalCode\":\"13355\",\"country\":\"Germany\"}}}}}","payloadType":"json","x":80,"y":80,"wires":[["8af6f0e4.549fe"]]},{"id":"b29e2988.47d248","type":"inject","z":"313082be.53a22e","name":"TS-JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"method\":\"post\",\"url\":\"https://prod.api.tsys.com/payments\",\"headers\":{\"Content-Type\":\"application/json\",\"Client-Request\":\"\",\"ApiKey\":\"\",\"Timestamp\":\"\"},\"body\":{\"request\":\"PaymentCardSale\",\"txnAmount\":{\"amount\":\"12.04\",\"currency\":\"USD\"},\"paymentMethod\":{\"paymentCard\":{\"number\":\"5424180279791732\",\"securityCode\":\"977\",\"expiration\":{\"month\":\"12\",\"year\":\"24\"}},\"billingInfo\":{\"name\":\"Alec Leamas\",\"customerId\":\"1234567890\",\"contact\":{\"phone\":\"07777777777\",\"email\":\"alecleamas@tswciftc.com\"},\"address\":{\"address1\":\"Bernauer Strasse 111\",\"address2\":\"\",\"city\":\"Berlin\",\"postalCode\":\"13355\",\"country\":\"Germany\"}}}}}","payloadType":"json","x":60,"y":180,"wires":[["7b627486.9a016c"]]},{"id":"8af6f0e4.549fe","type":"file","z":"313082be.53a22e","name":"","filename":"/data/fs-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":60,"wires":[["82e824e7.76c878"]]},{"id":"7b627486.9a016c","type":"file","z":"313082be.53a22e","name":"","filename":"/data/ts-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":470,"y":200,"wires":[["82e824e7.76c878"]]},{"id":"82e824e7.76c878","type":"debug","z":"313082be.53a22e","name":"debug03","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"8cebe0eb.36acf","type":"inject","z":"313082be.53a22e","name":"do resps","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":300,"wires":[["57fce0b4.a64a5"]]},{"id":"57fce0b4.a64a5","type":"function","z":"313082be.53a22e","name":"func - diff resps","func":"let datats, datafs, datadiff = {}\nlet ts = global.get(\"ts\");\nif (ts == undefined) ts = false\n\nconst {readFile} = global.get('fs')\nreadFile('/data/ts-resp.json')\n    .then((contents) => {\n        // console.log(contents.toString())\n        datats = JSON.parse(contents.toString())\n        return readFile('/data/fs-resp.json')\n    })\n    .then((contents) => {\n        // console.log(contents.toString())\n        datafs = JSON.parse(contents.toString());\n    })\n    .then (() => {\n        if (ts) datadiff = diff(datats, datafs);\n        else diff(datafs, datats);\n        console.log(datadiff)\n        msg.payload = datadiff;\n        node.send(msg,false);\n        return msg;\n    })\n    // .then (console.log(datadiff))\n    .catch(console.error)\n\nfunction diff(obj1, obj2) {\n    const result = {};\n    if (Object.is(obj1, obj2)) {\n        console.log('same object')\n        return undefined;\n    }\n    if (!obj2 || typeof obj2 !== 'object') {\n        return obj2;\n    }\n    Object.keys(obj1 || {}).concat(Object.keys(obj2 || {})).forEach(key => {\n        if(obj2[key] !== obj1[key] && !Object.is(obj1[key], obj2[key])) {\n            result[key] = obj2[key];\n        }\n        if(typeof obj2[key] === 'object' && typeof obj1[key] === 'object') {\n            const value = diff(obj1[key], obj2[key]);\n            if (value !== undefined) {\n                result[key] = value;\n            }\n        }\n    });\n    // console.log(result);\n    return result;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":300,"wires":[["a3b38c34.20f49"]]},{"id":"245c2fff.72284","type":"debug","z":"313082be.53a22e","name":"debug04","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"94a577ce.765d38","type":"comment","z":"313082be.53a22e","name":"(3) Read the response JSONS and store","info":"","x":180,"y":40,"wires":[]},{"id":"6fe8b7be.b386e8","type":"comment","z":"313082be.53a22e","name":"(4) Set a new JSON with differences","info":"","x":170,"y":240,"wires":[]},{"id":"9a205f5d.14351","type":"file in","z":"426026c8.1cb008","name":"","filename":"/data/cons-req.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":180,"wires":[["74cb0875.ddd158"]]},{"id":"520cee2b.e89ee","type":"inject","z":"426026c8.1cb008","name":"convertSwagger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["9a205f5d.14351"]]},{"id":"89998998.e9cec8","type":"debug","z":"426026c8.1cb008","name":"debug05","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"297c7839.51ae78","type":"file","z":"bd57f80.9467908","name":"","filename":"/data/diff-req.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":300,"wires":[["52dd9fe0.a245d"]]},{"id":"a3b38c34.20f49","type":"file","z":"313082be.53a22e","name":"","filename":"/data/diff-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":300,"wires":[["245c2fff.72284"]]},{"id":"eddce675.6effd8","type":"file in","z":"426026c8.1cb008","name":"","filename":"/data/cons-resp.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":180,"y":300,"wires":[["a210b8f6.a40a98"]]},{"id":"a210b8f6.a40a98","type":"json","z":"426026c8.1cb008","name":"","property":"payload","action":"","pretty":false,"x":450,"y":300,"wires":[["36c79ea2.7f7d62"]]},{"id":"36c79ea2.7f7d62","type":"yaml","z":"426026c8.1cb008","property":"payload","name":"","x":610,"y":300,"wires":[["d85e2ed5.13bec"]]},{"id":"9f6f1b5.2d922e8","type":"debug","z":"426026c8.1cb008","name":"debug06","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"1cdc57c0.a0bab8","type":"inject","z":"426026c8.1cb008","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["90d50f0c.6e721"]]},{"id":"90d50f0c.6e721","type":"function","z":"426026c8.1cb008","name":"","func":"let datats, datafs, datadiff = {}\n\nconst {readFile} = global.get('fs')\nreadFile('ts-req.json')\n    .then((contents) => {\n        // console.log(contents.toString())\n        datats = JSON.parse(contents.toString())\n        return readFile('fs-req.json')\n    })\n    .then((contents) => {\n        // console.log(contents.toString())\n        datafs = JSON.parse(contents.toString());\n    })\n    .then (() => {\n        datadiff = diff(datats, datafs)\n        // return datadiff;\n        console.log(datadiff)\n        msg.payload = datadiff;\n        node.send(msg,false);\n        return msg;\n    })\n    // .then (console.log(datadiff))\n    .catch(console.error)\n\nfunction diff(obj1, obj2) {\n    const result = {};\n    if (Object.is(obj1, obj2)) {\n        console.log('same object')\n        return undefined;\n    }\n    if (!obj2 || typeof obj2 !== 'object') {\n        return obj2;\n    }\n    Object.keys(obj1 || {}).concat(Object.keys(obj2 || {})).forEach(key => {\n        if(obj2[key] !== obj1[key] && !Object.is(obj1[key], obj2[key])) {\n            result[key] = obj2[key];\n        }\n        if(typeof obj2[key] === 'object' && typeof obj1[key] === 'object') {\n            const value = diff(obj1[key], obj2[key]);\n            if (value !== undefined) {\n                result[key] = value;\n            }\n        }\n    });\n    // console.log(result);\n    return result;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":540,"wires":[["a6d57256.12041"]]},{"id":"a6d57256.12041","type":"debug","z":"426026c8.1cb008","name":"debug02","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":540,"wires":[]},{"id":"85748536.2e5b08","type":"file","z":"426026c8.1cb008","name":"","filename":"/data/swag-tm.yaml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":710,"y":40,"wires":[["89998998.e9cec8"]]},{"id":"d85e2ed5.13bec","type":"file","z":"426026c8.1cb008","name":"","filename":"/data/cons-resp.yaml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":670,"y":360,"wires":[["9f6f1b5.2d922e8"]]},{"id":"2f72c2ad.71215e","type":"file","z":"41663d5f.162894","name":"","filename":"/data/fs-req.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":40,"wires":[["c6bd198b.404ce8"]]},{"id":"20a0eb05.109f84","type":"inject","z":"41663d5f.162894","name":"cleanup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["2f72c2ad.71215e","b2871b8c.30d6d8","3463dd1f.880282","e72de01b.905a8","b1bc4955.3a7b88","43596861.501898","ae71e2be.cbd88","d83e8fe9.59fc5","4d5f1d0e.ac8b44","d5926114.fb619","977e6531.dd0638"]]},{"id":"b2871b8c.30d6d8","type":"file","z":"41663d5f.162894","name":"","filename":"/data/ts-req.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":320,"y":80,"wires":[["c6bd198b.404ce8"]]},{"id":"3463dd1f.880282","type":"file","z":"41663d5f.162894","name":"","filename":"/data/fs-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":120,"wires":[["c6bd198b.404ce8"]]},{"id":"e72de01b.905a8","type":"file","z":"41663d5f.162894","name":"","filename":"/data/ts-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":160,"wires":[["c6bd198b.404ce8"]]},{"id":"b1bc4955.3a7b88","type":"file","z":"41663d5f.162894","name":"","filename":"/data/cons-req.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":200,"wires":[["c6bd198b.404ce8"]]},{"id":"43596861.501898","type":"file","z":"41663d5f.162894","name":"","filename":"/data/cons-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":340,"y":240,"wires":[["c6bd198b.404ce8"]]},{"id":"ae71e2be.cbd88","type":"file","z":"41663d5f.162894","name":"","filename":"/data/cons-resp.yaml","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":340,"y":280,"wires":[["c6bd198b.404ce8"]]},{"id":"d83e8fe9.59fc5","type":"file","z":"41663d5f.162894","name":"","filename":"/data/swag-tm.yaml","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":320,"wires":[["c6bd198b.404ce8"]]},{"id":"c6bd198b.404ce8","type":"debug","z":"41663d5f.162894","name":"debug07","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":100,"wires":[]},{"id":"3f59532d.62240c","type":"ui_switch","z":"9e5ae162.c4c76","name":"","label":"TS / FS","tooltip":"","group":"31f33edf.07c482","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":100,"y":40,"wires":[["cacef702.2bd148"]]},{"id":"eb7a05bc.6b5b98","type":"ui_text","z":"9e5ae162.c4c76","group":"31f33edf.07c482","order":3,"width":0,"height":0,"name":"","label":"Request comes to what's selected","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":100,"wires":[]},{"id":"415a0c9f.e07be4","type":"ui_button","z":"9e5ae162.c4c76","name":"","group":"31f33edf.07c482","order":4,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":160,"wires":[["53a11fff.1bc84","4cc0c82d.685498"]]},{"id":"53a11fff.1bc84","type":"link out","z":"9e5ae162.c4c76","name":"","links":["4a01a512.67dd7c"],"x":245,"y":160,"wires":[]},{"id":"4a01a512.67dd7c","type":"link in","z":"bd57f80.9467908","name":"start01","links":["53a11fff.1bc84"],"x":45,"y":360,"wires":[["e4fc412f.62791","26cef2a3.37286e","aca8aad1.670098"]]},{"id":"98ace58a.556c48","type":"ui_button","z":"9e5ae162.c4c76","name":"","group":"31f33edf.07c482","order":2,"width":0,"height":0,"passthru":false,"label":"Initialize","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":280,"wires":[["dcf19368.813a7","3e5a1c62.88dcf4"]]},{"id":"cb8e742a.829d28","type":"link in","z":"bd57f80.9467908","name":"fs-initiate","links":["dcf19368.813a7"],"x":35,"y":160,"wires":[["bad33681.06dd18","d6db918e.0460b"]]},{"id":"dcf19368.813a7","type":"link out","z":"9e5ae162.c4c76","name":"","links":["cb8e742a.829d28"],"x":335,"y":240,"wires":[]},{"id":"da81f2d7.f919e","type":"link in","z":"313082be.53a22e","name":"fs2-initiate","links":["3e5a1c62.88dcf4"],"x":115,"y":120,"wires":[["3d2d2635.e5744a","aed12b19.cf5738"]]},{"id":"3e5a1c62.88dcf4","type":"link out","z":"9e5ae162.c4c76","name":"","links":["da81f2d7.f919e"],"x":285,"y":280,"wires":[]},{"id":"6ae08e1.320337","type":"link in","z":"426026c8.1cb008","name":"YamlCreator","links":["64f9ed04.243804"],"x":45,"y":140,"wires":[["9a205f5d.14351"]]},{"id":"64f9ed04.243804","type":"link out","z":"9e5ae162.c4c76","name":"","links":["6ae08e1.320337"],"x":495,"y":380,"wires":[]},{"id":"1a0c5bcc.2b44b4","type":"ui_button","z":"9e5ae162.c4c76","name":"","group":"31f33edf.07c482","order":4,"width":0,"height":0,"passthru":false,"label":"YAML Generate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":380,"wires":[["64f9ed04.243804"]]},{"id":"5eb636a5.a61578","type":"link in","z":"41663d5f.162894","name":"cleanup","links":["e7ac0b2e.4733d8"],"x":45,"y":120,"wires":[["2f72c2ad.71215e","b2871b8c.30d6d8","3463dd1f.880282","e72de01b.905a8","b1bc4955.3a7b88","ae71e2be.cbd88","d83e8fe9.59fc5","4d5f1d0e.ac8b44","d5926114.fb619","977e6531.dd0638","43596861.501898"]]},{"id":"695a08a.1031af8","type":"ui_button","z":"9e5ae162.c4c76","name":"","group":"31f33edf.07c482","order":5,"width":0,"height":0,"passthru":false,"label":"Cleanup","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":460,"wires":[["e7ac0b2e.4733d8"]]},{"id":"e7ac0b2e.4733d8","type":"link out","z":"9e5ae162.c4c76","name":"","links":["5eb636a5.a61578"],"x":505,"y":460,"wires":[]},{"id":"bad33681.06dd18","type":"function","z":"bd57f80.9467908","name":"FS-JSON Func","func":"msg.payload = {\n    \"method\": \"post\",\n    \"url\": \"https://prod.api.firstdata.com/ipp/payments-gateway/v2/payments\",\n    \"headers\": {\n        \"Content-Type\": \"application/json\",\n        \"Client-Request-Id\": \"\",\n        \"Api-Key\": \"\",\n        \"Timestamp\": \"\",\n        \"Message-Signature\": \"\"\n    },\n    \"body\": {\n        \"requestType\": \"PaymentCardSaleTransaction\",\n        \"transactionAmount\": {\n            \"total\": \"12.04\",\n            \"currency\": \"USD\"\n        },\n        \"paymentMethod\": {\n            \"paymentCard\": {\n                \"number\": \"5424180279791732\",\n                \"securityCode\": \"977\",\n                \"expiryDate\": {\n                    \"month\": \"12\",\n                    \"year\": \"24\"\n                }\n            },\n            \"billing\": {\n                \"name\": \"Alec Leamas\",\n                \"customerId\": \"1234567890\",\n                \"contact\": {\n                    \"phone\": \"07777777777\",\n                    \"email\": \"alecleamas@tswciftc.com\"\n                },\n                \"address\": {\n                    \"address1\": \"Bernauer Strasse 111\",\n                    \"city\": \"Berlin\",\n                    \"postalCode\": \"13355\",\n                    \"country\": \"Germany\"\n                }\n            }\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":120,"wires":[["32203ad9.08fd96"]]},{"id":"d6db918e.0460b","type":"function","z":"bd57f80.9467908","name":"TS-JSON Func","func":"msg.payload = {\n    \"method\": \"post\",\n    \"url\": \"https://prod.api.tsys.com/payments\",\n    \"headers\": {\n        \"Content-Type\": \"application/json\",\n        \"Client-Request\": \"\",\n        \"ApiKey\": \"\",\n        \"Timestamp\": \"\"\n    },\n    \"body\": {\n        \"request\": \"PaymentCardSale\",\n        \"txnAmount\": {\n            \"amount\": \"12.04\",\n            \"currency\": \"USD\"\n        },\n        \"paymentMethod\": {\n            \"paymentCard\": {\n                \"number\": \"5424180279791732\",\n                \"securityCode\": \"977\",\n                \"expiration\": {\n                    \"month\": \"12\",\n                    \"year\": \"24\"\n                }\n            },\n            \"billingInfo\": {\n                \"name\": \"Alec Leamas\",\n                \"customerId\": \"1234567890\",\n                \"contact\": {\n                    \"phone\": \"07777777777\",\n                    \"email\": \"alecleamas@tswciftc.com\"\n                },\n                \"address\": {\n                    \"address1\": \"Bernauer Strasse 111\",\n                    \"address2\": \"\",\n                    \"city\": \"Berlin\",\n                    \"postalCode\": \"13355\",\n                    \"country\": \"Germany\"\n                }\n            }\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["2f244c82.b1e434"]]},{"id":"3d2d2635.e5744a","type":"function","z":"313082be.53a22e","name":"FS-Resp Func","func":"msg.payload = {\n    \"method\": \"post\",\n    \"url\": \"https://prod.api.firstdata.com/ipp/payments-gateway/v2/payments\",\n    \"headers\": {\n        \"Content-Type\": \"application/json\",\n        \"Client-Request-Id\": \"\",\n        \"Api-Key\": \"\",\n        \"Timestamp\": \"\",\n        \"Message-Signature\": \"\"\n    },\n    \"body\": {\n        \"requestType\": \"PaymentCardSaleTransaction\",\n        \"transactionAmount\": {\n            \"total\": \"12.04\",\n            \"currency\": \"USD\"\n        },\n        \"paymentMethod\": {\n            \"paymentCard\": {\n                \"number\": \"5424180279791732\",\n                \"securityCode\": \"977\",\n                \"expiryDate\": {\n                    \"month\": \"12\",\n                    \"year\": \"24\"\n                }\n            },\n            \"billing\": {\n                \"name\": \"Alec Leamas\",\n                \"customerId\": \"1234567890\",\n                \"contact\": {\n                    \"phone\": \"07777777777\",\n                    \"email\": \"alecleamas@tswciftc.com\"\n                },\n                \"address\": {\n                    \"address1\": \"Bernauer Strasse 111\",\n                    \"city\": \"Berlin\",\n                    \"postalCode\": \"13355\",\n                    \"country\": \"Germany\"\n                }\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["8af6f0e4.549fe"]]},{"id":"aed12b19.cf5738","type":"function","z":"313082be.53a22e","name":"TS-Resp Func","func":"msg.payload = {\n    \"method\": \"post\",\n    \"url\": \"https://prod.api.tsys.com/payments\",\n    \"headers\": {\n        \"Content-Type\": \"application/json\",\n        \"Client-Request\": \"\",\n        \"ApiKey\": \"\",\n        \"Timestamp\": \"\"\n    },\n    \"body\": {\n        \"request\": \"PaymentCardSale\",\n        \"txnAmount\": {\n            \"amount\": \"12.04\",\n            \"currency\": \"USD\"\n        },\n        \"paymentMethod\": {\n            \"paymentCard\": {\n                \"number\": \"5424180279791732\",\n                \"securityCode\": \"977\",\n                \"expiration\": {\n                    \"month\": \"12\",\n                    \"year\": \"24\"\n                }\n            },\n            \"billingInfo\": {\n                \"name\": \"Alec Leamas\",\n                \"customerId\": \"1234567890\",\n                \"contact\": {\n                    \"phone\": \"07777777777\",\n                    \"email\": \"alecleamas@tswciftc.com\"\n                },\n                \"address\": {\n                    \"address1\": \"Bernauer Strasse 111\",\n                    \"address2\": \"\",\n                    \"city\": \"Berlin\",\n                    \"postalCode\": \"13355\",\n                    \"country\": \"Germany\"\n                }\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[["7b627486.9a016c"]]},{"id":"ebb6e2bd.d4841","type":"link in","z":"313082be.53a22e","name":"response-consolidate","links":["4cc0c82d.685498"],"x":25,"y":360,"wires":[["57fce0b4.a64a5","5e8e8d16.fa8ff4"]]},{"id":"4cc0c82d.685498","type":"link out","z":"9e5ae162.c4c76","name":"","links":["ebb6e2bd.d4841"],"x":255,"y":200,"wires":[]},{"id":"26cef2a3.37286e","type":"function","z":"bd57f80.9467908","name":"function - consol reqs","func":"let datats, datafs, datadiff = {}\nlet ts = global.get(\"ts\");\nif (ts == undefined) ts = false\n\nconst {readFile} = global.get('fs')\nreadFile('/data/ts-req.json')\n    .then((contents) => {\n        // console.log(contents.toString())\n        datats = JSON.parse(contents.toString())\n        return readFile('/data/fs-req.json')\n    })\n    .then((contents) => {\n        // console.log(contents.toString())\n        datafs = JSON.parse(contents.toString());\n    })\n    .then (() => {\n        // datadiff = Object.assign(datats, datafs);\n        // datadiff = { ...datats, ...datafs }\n        if (ts) datadiff = { ...datats, ...datafs };\n        else datadiff = { ...datafs, ...datats };\n        console.log(datadiff)\n        msg.payload = datadiff;\n        node.send(msg,false);\n        node.done();\n        return;\n    })\n    // .then (console.log(datadiff))\n    .catch(console.error)\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["dc19f3f9.ede31"]]},{"id":"dc19f3f9.ede31","type":"file","z":"bd57f80.9467908","name":"","filename":"/data/cons-req.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":330,"y":440,"wires":[["4e35554e.da59ec"]]},{"id":"4e35554e.da59ec","type":"debug","z":"bd57f80.9467908","name":"debug02b","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":440,"wires":[]},{"id":"4d5f1d0e.ac8b44","type":"file","z":"41663d5f.162894","name":"","filename":"/data/diff-req.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":360,"wires":[["c6bd198b.404ce8"]]},{"id":"5e8e8d16.fa8ff4","type":"function","z":"313082be.53a22e","name":"func - consolidate resps","func":"let datats, datafs, datadiff = {}\nlet ts = global.get(\"ts\");\nif (ts == undefined) ts = false\n\nconst {readFile} = global.get('fs')\nreadFile('/data/ts-resp.json')\n    .then((contents) => {\n        // console.log(contents.toString())\n        datats = JSON.parse(contents.toString())\n        return readFile('/data/fs-resp.json')\n    })\n    .then((contents) => {\n        // console.log(contents.toString())\n        datafs = JSON.parse(contents.toString());\n    })\n    .then (() => {\n        if (ts) datadiff = { ...datats, ...datafs };\n        else datadiff = { ...datafs, ...datats };\n        console.log(datadiff)\n        msg.payload = datadiff;\n        node.send(msg,false);\n        return msg;\n    })\n    // .then (console.log(datadiff))\n    .catch(console.error)\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":380,"wires":[["8fe73153.d6fd9"]]},{"id":"8fe73153.d6fd9","type":"file","z":"313082be.53a22e","name":"","filename":"/data/cons-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":540,"y":380,"wires":[["fdef054d.06f888"]]},{"id":"fdef054d.06f888","type":"debug","z":"313082be.53a22e","name":"debug04a","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"d5926114.fb619","type":"file","z":"41663d5f.162894","name":"","filename":"/data/diff-resp.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":400,"wires":[["c6bd198b.404ce8"]]},{"id":"973e76d9.bbdb28","type":"debug","z":"9e5ae162.c4c76","name":"debug09","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":40,"wires":[]},{"id":"cacef702.2bd148","type":"change","z":"9e5ae162.c4c76","name":"","rules":[{"t":"set","p":"ts","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":40,"wires":[[]]},{"id":"52d9af5a.a94cc","type":"comment","z":"bd57f80.9467908","name":"In diff / consol the intersection or join is right over left","info":"","x":270,"y":480,"wires":[]},{"id":"74cb0875.ddd158","type":"function","z":"426026c8.1cb008","name":"swagger template","func":"// var req = JSON.parse(msg.payload);\nconst fs = global.get('fsyncSync') // require('fs');\nconst yaml = global.get('yaml');\nconst rd = fs.readFileSync('/data/cons-req.json');\nconst swag = fs.readFileSync('/data/swagger.json');\nconst rsp = fs.readFileSync('/data/cons-resp.json');\nlet tm = JSON.parse(rd);\nlet tms = JSON.parse(rsp);\nlet dd = tm.body;\nlet dd1 = tms.body;\nlet r = [];\nlet eggfoo = [];\nlet dr = {};\nlet str = '';\nlet swagger = JSON.parse(swag);\n// mylar(dd,pft);\n\n/*\nfor (var key in dd) {\n    // if (!dd.hasOwnProperty(key)) continue;\n    console.log(key, dd[key])\n}\n*/\n\n/*\nObject.keys(dd).forEach(function(key) {\n    var value = dd[key];\n    console.log(key, value);\n    // ...\n});\n*/\n\n/*\nif (typeof Object.keys !== \"function\") {\n    (function() {\n        var hasOwn = Object.prototype.hasOwnProperty;\n        Object.keys = Object_keys;\n        function Object_keys(obj) {\n            var keys = [], name;\n            for (name in obj) {\n                if (hasOwn.call(obj, name)) {\n                    keys.push(name);\n                }\n            }\n            return keys;\n        }\n    })();\n}\n*/\n\n \nvar ftime = false;\n// str = '{';\nfunction parseJson(object) {\n\n    for (var key in object) {\n        // console.log(key, object[key]);\n        var objkey = key;\n        \n        var value = object[key];\n        if (typeof value !== 'object') {\n            // r.push(key, value);\n            var x = '\"' + key + '\": {\"type\": \"string\", \"example\":\"' + value + '\"}, ';\n            str += x;\n            var xobj = '{\"' + key + '\": {\"type\": \"string\", \"example\":\"' + value + '\"}}';\n            str += x;\n            r.push(JSON.parse(xobj));\n         } else if(typeof value === 'object') {\n            if (ftime) {\n                var y = '}, ';\n                str += y;\n                ftime = false;\n                // continue;\n            }\n            ftime = true; \n            var y = '\"' + key + '\": {\"type\": \"object\", ';\n            var yobj = '{\"' + key + '\": {\"type\": \"object\"}}';\n            r.push(JSON.parse(yobj));\n            str += y;\n            parseJson(value);\n         }\n    }\n    var z = \"}\";\n    str += z;\n    // dr = JSON.parse(str);\n}\n\n// do it for the request\nparseJson(dd);\nvar tswag = {\"properties\":{}};\n// console.log(r);\nfor (var i = 0; i < r.length; i++) {\n    for (var kname in r[i]) {\n        console.log(kname, r[i][kname]);\n        valobj = r[i][kname];\n        if (kname !== null && valobj !== null) {\n            try {\n                Object.assign(tswag.properties, { [kname]: valobj })\n            } catch (error) {\n                //\n            }\n        }\n    }\n}\nswagger.definitions.payment = tswag;\n\n// do it for the response\nr = [];\nparseJson(dd1);\ntswag = {\"properties\":{}};\nfor (i = 0; i < r.length; i++) {\n    for (var kname in r[i]) {\n        console.log(kname, r[i][kname]);\n        valobj = r[i][kname];\n        if (kname !== undefined && valobj !== undefined) {\n            try {\n                Object.assign(tswag.properties, { [kname]: valobj })\n            } catch (error) {\n                //\n            }\n        }\n    }\n}\nswagger.definitions.PaymentResponse = tswag;\n\nvar rem = yaml.dump(swagger);\nmsg.payload = rem;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":120,"wires":[["85748536.2e5b08"]]},{"id":"aca8aad1.670098","type":"function","z":"bd57f80.9467908","name":"swagger template","func":"var swagger = {\n    \"swagger\": \"2.0\",\n    \"info\": {\n        \"description\": \"This is a Payments Open API template\",\n        \"version\": \"1.0.0\",\n        \"title\": \"Payments Open API\",\n        \"termsOfService\": \"https://payoi.io/terms/\",\n        \"contact\": {\n            \"email\": \"apiteam@payoi.io\"\n        },\n        \"license\": {\n            \"name\": \"Apache 2.0\",\n            \"url\": \"http://www.apache.org/licenses/LICENSE-2.0.html\"\n        }\n    },\n    \"host\": \"payments.payoi.io\",\n    \"basePath\": \"/v2\",\n    \"tags\": [\n        {\n            \"name\": \"payment\",\n            \"description\": \"Consolidate Payments\"\n        }\n    ],\n    \"schemes\": [\n        \"https\",\n        \"http\"\n    ],\n    \"paths\": {\n        \"/payment\": {\n            \"post\": {\n                \"tags\": [\n                    \"payment\"\n                ],\n                \"summary\": \"Consolidate a payment TS/FS request\",\n                \"description\": \"\",\n                \"operationId\": \"addPayment\",\n                \"consumes\": [\n                    \"application/json\",\n                    \"application/xml\"\n                ],\n                \"produces\": [\n                    \"application/xml\",\n                    \"application/json\"\n                ],\n                \"parameters\": [\n                    {\n                        \"in\": \"body\",\n                        \"name\": \"body\",\n                        \"description\": \"Payment object that needs to be added to PNC\",\n                        \"required\": true,\n                        \"schema\": {\n                            \"$ref\": \"#/definitions/payment\"\n                        }\n                    }\n                ],\n                \"responses\": {\n                    \"200\": {\n                        \"description\": \"successful operation\",\n                        \"schema\": {\n                            \"$ref\": \"#/definitions/PaymentResponse\"\n                        }\n                    },\n                    \"405\": {\n                        \"description\": \"Invalid input\"\n                    }\n                }\n            }\n        },\n        \"/payment/{paymentId}\": {\n            \"get\": {\n                \"tags\": [\n                    \"payment\"\n                ],\n                \"summary\": \"Find payment by ID\",\n                \"description\": \"Returns a payment reference\",\n                \"operationId\": \"getPaymentById\",\n                \"produces\": [\n                    \"application/xml\",\n                    \"application/json\"\n                ],\n                \"parameters\": [\n                    {\n                        \"name\": \"paymentId\",\n                        \"in\": \"path\",\n                        \"description\": \"ID of payment to return\",\n                        \"required\": true,\n                        \"type\": \"integer\",\n                        \"format\": \"int64\"\n                    }\n                ],\n                \"responses\": {\n                    \"200\": {\n                        \"description\": \"successful operation\",\n                        \"schema\": {\n                            \"$ref\": \"#/definitions/PaymentResponse\"\n                        }\n                    },\n                    \"400\": {\n                        \"description\": \"Invalid ID supplied\"\n                    },\n                    \"404\": {\n                        \"description\": \"Payment not found\"\n                    }\n                }\n            }\n        }\n    },\n    \"definitions\": {\n        \"Category\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"id\": {\n                    \"type\": \"integer\",\n                    \"format\": \"int64\"\n                },\n                \"name\": {\n                    \"type\": \"string\"\n                }\n            },\n            \"xml\": {\n                \"name\": \"Category\"\n            }\n        },\n        \"payment\": {\n            \"type\": \"object\",\n            \"required\": [\n                \"name\"\n            ],\n            \"properties\": {\n                \"id\": {\n                    \"type\": \"integer\",\n                    \"format\": \"int64\"\n                },\n                \"category\": {\n                    \"$ref\": \"#/definitions/Category\"\n                },\n                \"name\": {\n                    \"type\": \"string\",\n                    \"example\": \"payment\"\n                }\n            }\n        },\n        \"PaymentResponse\": {\n            \"type\": \"object\",\n            \"required\": [\n                \"name\"\n            ],\n            \"properties\": {}\n        }\n    }\n}\nmsg.payload = swagger;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":540,"wires":[["33eeb372.956f6c"]]},{"id":"33eeb372.956f6c","type":"file","z":"bd57f80.9467908","name":"","filename":"/data/swagger.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":540,"wires":[["4e35554e.da59ec"]]},{"id":"108e1088.ba78bf","type":"file","z":"426026c8.1cb008","name":"","filename":"/data/swag-tm.yaml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":730,"y":180,"wires":[[]]},{"id":"977e6531.dd0638","type":"file","z":"41663d5f.162894","name":"","filename":"/data/swagger.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":330,"y":440,"wires":[["c6bd198b.404ce8"]]}]